<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Vigorous Minder</title>
</head>
<body>
    <h1>Vigorous Minder</h1>
    <form action="/submit" metod "post" id="bmi-form">

        <label for="first_name">First Name: </label>
        <input type="text" name="first_name" required><br>

        <label for="surname">Surname: </label>
        <input type="text" name="surname" required><br>

        <label for="mail">Email: </label>
        <input type="text" name="mail" required><br>

        <label for="weight_kg">Weight in kg: </label>
        <input type="text" name="weight_kg" required><br>

        <label for="height_cm">Height in cm: </label>
        <input type="text" name="height_cm" required><br>

        <input type="submit" value="Submit" id="submit-button">

        
    </form>
    
</body>
</html>