<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vigorous Minder</title>
</head>
<body>
    <h1>Vigorous Minder</h1>
    <form>
        <label>First Name: </label>
        <input type="text" name="first_name">

        <label>Surname: </label>
        <input type="text" name="Surname">

        <label>Email: </label>
        <input type="text" name="mail">

        <label>Weight in kg: </label>
        <input type="text" name="weight_kg">

        <label>Height in cm: </label>
        <input type="text" name="first_name">

        <input type="submit" value="Submit">

        
    </form>
    
</body>
</html>